<div class="page-header">
    <h1><span ng-if="user.id!=current_user.id">User</span><span ng-if="user.id == current_user.id">Your</span> Profile</h1>
</div>
<div class="btn-group" role="group">
    <a class="btn btn-default" ng-href="#/edit_profile/{{user.id}}">Edit Profile</a>
    <a class="btn btn-default" href="#/change_password" ng-if="user.id == current_user.id">Change My Password</a>
    <a class="btn btn-default" ng-if="current_user.permissions.user_admin" href="#/profiles">Manage Users</a>
</div>
<h2>Basic Information</h2>
<dl class="dl-horizontal">
    <dt>Email: </dt>
    <dd>{{ user.email }}</dd>
    <dt>Full name:</dt>
    <dd>{{ user.full_name }}</dd>
</dl>
<h2>Details</h2>
<dl class="dl-horizontal">
    <dt>Suite: </dt>
    <dd>{{ user.suite }}</dd>
    <dt>Lease period: </dt>
    <dd>{{ user.lease_period }}</dd>
</dl>
<div class="row right">
</div>
