<div class="page-header">
    <h1>User Management</h1>
</div>

<div class="user-list">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>#</th>
                <th>Email</th>
                <th>Name</th>
                <th>Room</th>
                <th>Permissions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <th>
                    <a class="glyphicon glyphicon-user" href="javascript:void(0)"
                        ng-click="view(user)"></a>
                    <a class="glyphicon glyphicon-pencil" href="javascript:void(0)"
                        ng-click="edit(user)"></a>
                </th>
                <th>{{ user.id }}</th>
                <td>{{ user.email }}</td>
                <td>{{ user.full_name }}</td>
                <td>{{ user.suite }}</td>
                <td>
                    <span ng-repeat="(pname, value) in user.permissions" ng-if="value">
                        <span class="label label-default" title="{{pname | perms_disp: 'full'}}"  ng-if="value">{{ pname | perms_disp: 'abbr' }}</span>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
